{% extends 'index.html' %}

{% block content %}

    <div style="width: 100%; max-width: 1000px; margin: auto; padding-right: 16px;">
        <div class="card p-3">
            <div class="mt-3">
                <div class="border mb-3">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <div>
                                <img src="https://img.icons8.com/officel/80/null/person-male-skin-type-4.png" alt="user" class="rounded-circle border" style="width: 50px; height: 50px;">
                            </div>
                            <div class="ml-2">
                                <h5 class="m-0">
                                    {{interview.author.username}}
                                </h5>
                                <div class="text-muted" style="font-size: 12px">
                                    {{interview.created_at|date:"F d, Y h:i A"}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5>
                            <a class="text-dark" href="">{{interview.title}}</a>
                        </h5>
                        <p>Company: {{interview.company}}, Role: {{interview.role}}</p>
                        <div style="white-space: pre-line">{{interview.text}}</div>
                    </div>
                    <div class="card-footer">
                        <form class="d-flex align-items-center mt-2" action="{% url 'add_interview_comment' interview.id %}" method="post">{% csrf_token %}
                            <textarea class="form-control" name="comment" placeholder="Add a comment" style="min-height: 40px;"></textarea>
                            <button type="submit" class="btn btn-secondary ml-2" style="min-height: 44px;">Comment</button>
                        </form>

                        <div class="mt-3">
                            {% if interview.comments %}
                            <h4>Comments</h4>
                            {% for comment in interview.comments %}
                            <div class="d-flex justify-content-between border m-2 p-3">
                                <div class="d-flex w-100">
                                    <div class="mr-2">
                                        <img src="https://img.icons8.com/officel/80/null/person-male-skin-type-4.png" alt="user" class="rounded-circle border" style="width: 40px; height: 40px;">
                                    </div>
                                    <div>
                                        <h5 class="m-0">
                                            <a class="text-dark" href="">
                                                {{comment.author.username}}
                                            </a>
                                        </h5>
                                        <div class="text-muted" style="font-size: 12px;">
                                            {{comment.created_at|date:"F d, Y h:i A"}}
                                            {% if comment.author != request.user %}
                                            <a href="{% url 'start_conversation' comment.author.id %}" class="text-dark pl-1"><i class="fa fa-envelope"></i></a>
                                            {% endif %}
                                        </div>
                                        <div class="mt-2">
                                            {{comment.text}}
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    {% if request.user == comment.author %}
                                    <a href="{% url 'delete_interview_comment' comment.id %}" class="text-danger" onclick="return confirm('Are you sure you want to delete this comment?')">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                    {% endif %}
                                </div>
                            </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>




{% endblock content %}